In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("normalized_data.csv")
df.isna().sum()

Country              0
Happiness Rank       0
Ladder score         0
Economy              0
Social support       0
Health               0
Freedom              0
Trust                0
Generosity           0
Dystopia Residual    0
Year                 0
Emoji                0
Population           0
Region               0
Latitude             0
Longitude            0
dtype: int64

In [4]:
# Define a mapping of regions to numbers
region_mapping = {
    'Africa': 1,
    'Asia': 2,
    'Europe': 3,
    'North America': 4,
    'South America': 5,
    'Oceania': 6
}

# Map the regions to numbers
df['cluster_id'] = df['Region'].map(region_mapping)

# Save the DataFrame to a CSV file
df.to_csv('countries_with_region_numbers.csv', index=False)

In [28]:
import pandas as pd
import pycountry

# Normalize country names
def normalize_country_name(country_name):
    try:
        # Use pycountry to lookup and get the country's official name
        country = pycountry.countries.lookup(country_name)
        return country.name
    except LookupError:
        return country_name

filtered_df['Country'] = filtered_df['Country'].apply(normalize_country_name)

# Store the normalized data to a new CSV file
filtered_df.to_csv('normalized_data.csv', index=False)

# Display the normalized data
df.head()

/var/folders/vm/x2_vk0wd59779rs1fx9tt8040000gn/T/ipykernel_11092/3558387964.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Country'] = filtered_df['Country'].apply(normalize_country_name)

,Country,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Population,Region,Latitude,Longitude
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,ðŸ¤©,8282396.0,Europe,46.818188,8.227512
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,ðŸ¤©,330815.0,Europe,64.963051,-19.020835
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,ðŸ¤©,5683483.0,Europe,56.263920,9.501785
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,ðŸ¤©,5188607.0,Europe,60.472024,8.468946
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,ðŸ¤©,35702908.0,North America,56.130366,-106.346771

In [27]:
import pandas as pd

# Assuming 'df' is your dataframe containing the data

# Group by year and region
grouped = df.groupby(['Year', 'Region'])

# Function to sample the most uncertain record from each group
def sample_records(group):
    if group['Region'].iloc[0] == 'Oceania':
        # If the region is Oceania, return all records
        return group
    else:
        # Sample 10 records from the group
        return group.sample(n=10, replace=True) if len(group) > 10 else group

# Apply the function to each group
sampled_records = grouped.apply(sample_records)

# Reset the index of the resulting dataframe
sampled_records.reset_index(drop=True, inplace=True)

# Display the sampled records
sampled_records.head()
sampled_records.to_csv("pcp_data.csv",index=False)

In [25]:
# Get a list of countries that have records in all years
countries_with_all_years = df['Country'].value_counts()[df['Country'].value_counts() == df['Year'].nunique()].index

# Filter the DataFrame to include only countries with records in all years
filtered_df = df[df['Country'].isin(countries_with_all_years)]

# Save the filtered DataFrame to a new CSV file
filtered_df.to_csv('filtered_dataset.csv', index=False)

In [26]:
filtered_df.shape

(1290, 16)

In [56]:
df['Region'].unique()

array(['Europe', 'North America', 'Oceania', 'Asia', 'South America',
       'Africa'], dtype=object)

In [59]:
avg_scores = df.groupby(['Region', 'Year'])['Ladder score'].mean().reset_index()
avg_scores

           Region  Year  Ladder score
0          Africa  2015      4.285227
1          Africa  2016      4.272372
2          Africa  2017      4.239500
3          Africa  2018      4.289364
4          Africa  2019      4.371841
5          Africa  2020      4.436756
6          Africa  2021      4.539675
7          Africa  2022      4.527625
8          Africa  2023      4.419486
9          Africa  2024      4.399075
10           Asia  2015      5.282043
11           Asia  2016      5.260467
12           Asia  2017      5.297000
13           Asia  2018      5.266333
14           Asia  2019      5.256222
15           Asia  2020      5.301549
16           Asia  2021      5.333884
17           Asia  2022      5.340643
18           Asia  2023      5.312632
19           Asia  2024      5.324976
20         Europe  2015      6.036738
21         Europe  2016      6.072512
22         Europe  2017      6.104585
23         Europe  2018      6.175927
24         Europe  2019      6.211143
25         Europe  2020      6.293976
26         Europe  2021      6.351762
27         Europe  2022      6.438756
28         Europe  2023      6.464692
29         Europe  2024      6.454410
30  North America  2015      6.145692
31  North America  2016      6.145667
32  North America  2017      6.028214
33  North America  2018      6.094286
34  North America  2019      6.154692
35  North America  2020      6.184008
36  North America  2021      6.123000
37  North America  2022      6.288818
38  North America  2023      6.262273
39  North America  2024      6.389909
40        Oceania  2015      7.285000
41        Oceania  2016      7.323500
42        Oceania  2017      7.299000
43        Oceania  2018      7.298000
44        Oceania  2019      7.267500
45        Oceania  2020      7.261200
46        Oceania  2021      7.230000
47        Oceania  2022      7.181000
48        Oceania  2023      7.109000
49        Oceania  2024      7.043000
50  South America  2015      6.348636
51  South America  2016      6.251364
52  South America  2017      6.098600
53  South America  2018      5.979700
54  South America  2019      5.920200
55  South America  2020      5.939710
56  South America  2021      5.873900
57  South America  2022      5.788200
58  South America  2023      5.832500
59  South America  2024      6.006000

In [58]:
df[df['Region']=="Oceania"]

,Country,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Population,Region,Latitude,Longitude
8,New Zealand,9,7.2860,1.250180,1.319670,0.908370,0.639380,0.429220,0.475010,2.264250,2015,ðŸ¤©,4609400.0,Oceania,-40.900557,174.885971
9,Australia,10,7.2840,1.333580,1.309230,0.931560,0.651240,0.356370,0.435620,2.266460,2015,ðŸ¤©,23815995.0,Oceania,-25.274398,133.775136
165,New Zealand,8,7.3340,1.360660,1.172780,0.830960,0.581470,0.419040,0.494010,2.475530,2016,ðŸ¤©,4714100.0,Oceania,-40.900557,174.885971
166,Australia,9,7.3130,1.444430,1.104760,0.851200,0.568370,0.323310,0.474070,2.546500,2016,ðŸ¤©,24190907.0,Oceania,-25.274398,133.775136
322,New Zealand,8,7.3140,1.405706,1.548195,0.816760,0.614062,0.382817,0.500005,2.046456,2017,ðŸ¤©,4813600.0,Oceania,-40.900557,174.885971
324,Australia,10,7.2840,1.484415,1.510042,0.843887,0.601607,0.301184,0.477699,2.065211,2017,ðŸ¤©,24592588.0,Oceania,-25.274398,133.775136
477,New Zealand,8,7.3240,1.268000,1.601000,0.876000,0.669000,0.389000,0.365000,1.993703,2018,ðŸ¤©,4900600.0,Oceania,-40.900557,174.885971
479,Australia,10,7.2720,1.340000,1.573000,0.910000,0.647000,0.302000,0.361000,1.993703,2018,ðŸ¤©,24963258.0,Oceania,-25.274398,133.775136
633,New Zealand,8,7.3070,1.303000,1.557000,1.026000,0.585000,0.380000,0.330000,1.993703,2019,ðŸ¤©,4979200.0,Oceania,-40.900557,174.885971
636,Australia,11,7.2280,1.372000,1.548000,1.036000,0.557000,0.290000,0.332000,1.993703,2019,ðŸ¤©,25334826.0,Oceania,-25.274398,133.775136
789,New Zealand,8,7.2996,1.242318,1.487218,1.008138,0.646790,0.461268,0.325726,2.128108,2020,ðŸ¤©,5090200.0,Oceania,-40.900557,174.885971
793,Australia,12,7.2228,1.310396,1.477146,1.022608,0.621877,0.335996,0.324974,2.129804,2020,ðŸ¤©,25649248.0,Oceania,-25.274398,133.775136
943,New Zealand,9,7.2770,1.400000,1.094000,0.785000,0.665000,0.445000,0.276000,2.612000,2021,ðŸ¤©,5111400.0,Oceania,-40.900557,174.885971
945,Australia,11,7.1830,1.453000,1.076000,0.801000,0.647000,0.317000,0.291000,2.598000,2021,ðŸ¤©,25685412.0,Oceania,-25.274398,133.775136
1093,New Zealand,10,7.2000,1.852000,1.235000,0.752000,0.680000,0.483000,0.245000,1.954000,2022,ðŸ¤©,5124100.0,Oceania,-40.900557,174.885971
1095,Australia,12,7.1620,1.900000,1.203000,0.772000,0.676000,0.341000,0.258000,2.011000,2022,ðŸ¤©,26005540.0,Oceania,-25.274398,133.775136
1239,New Zealand,10,7.1230,1.842000,1.544000,0.513000,0.672000,0.471000,0.230000,1.852000,2023,ðŸ¤©,366981.0,Oceania,-40.900557,174.885971
1241,Australia,12,7.0950,1.899000,1.497000,0.532000,0.677000,0.310000,0.242000,1.938000,2023,ðŸ¤©,112716598.0,Oceania,-25.274398,133.775136
1376,Australia,10,7.0570,1.854000,1.461000,0.692000,0.756000,0.323000,0.225000,1.745000,2024,ðŸ¤©,114200087.0,Oceania,-25.274398,133.775136
1377,New Zealand,11,7.0290,1.810000,1.527000,0.673000,0.746000,0.480000,0.226000,1.567000,2024,ðŸ¤©,366416.0,Oceania,-40.900557,174.885971

In [54]:
df[['Region','Country']]

             Region           Country
0            Europe       Switzerland
1            Europe           Iceland
2            Europe           Denmark
3            Europe            Norway
4     North America            Canada
...             ...               ...
1505         Africa  Congo (Kinshasa)
1506         Africa      Sierra Leone
1507         Africa           Lesotho
1508           Asia           Lebanon
1509           Asia       Afghanistan

[1510 rows x 2 columns]

In [2]:
df=pd.read_csv("merged_data.csv")

In [3]:
df

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,...,Latitude,Longitude,Population,Percent_Population_aged_0_14,Percent_Population_aged_10_19,Percent_Population_aged_10_24,Percent_Population_aged_15_64,Percent_Population_aged_65_and_older,LifeExpectancy_male,LifeExpectancy_female
0,Finland,Western Europe,1,7.741,1.844,1.572,0.695,0.859,0.546,0.142,...,63.246778,25.920916,5.5,15.0,11.0,17.0,61.0,24.0,80.0,85.0
1,Denmark,Western Europe,2,7.583,1.908,1.520,0.699,0.823,0.548,0.204,...,55.670249,10.333328,5.9,16.0,11.0,17.0,63.0,21.0,80.0,84.0
2,Iceland,Western Europe,3,7.525,1.881,1.617,0.718,0.819,0.182,0.258,...,64.984182,-18.105901,0.4,18.0,13.0,19.0,66.0,16.0,82.0,85.0
3,Sweden,Western Europe,4,7.344,1.878,1.501,0.724,0.838,0.524,0.221,...,59.674971,14.520858,10.7,17.0,12.0,18.0,62.0,21.0,82.0,85.0
4,Israel,Middle East and North Africa,5,7.341,1.803,1.513,0.740,0.641,0.193,0.153,...,30.812425,34.859476,9.3,28.0,17.0,24.0,60.0,12.0,82.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Zimbabwe,Sub-Saharan Africa,138,3.341,0.748,0.850,0.232,0.487,0.131,0.096,...,-18.455496,29.746841,17.0,40.0,24.0,34.0,57.0,3.0,59.0,65.0
143,Sierra Leone,Sub-Saharan Africa,140,3.245,0.654,0.566,0.253,0.469,0.053,0.181,...,8.640035,-11.840027,9.0,38.0,23.0,33.0,59.0,3.0,60.0,63.0
144,Lesotho,Sub-Saharan Africa,141,3.186,0.771,0.851,0.000,0.523,0.085,0.082,...,-29.603927,28.335019,2.4,34.0,21.0,30.0,62.0,4.0,52.0,58.0
145,Lebanon,Middle East and North Africa,142,2.707,1.377,0.577,0.556,0.173,0.029,0.068,...,40.375713,-76.462612,5.2,27.0,20.0,27.0,62.0,11.0,78.0,82.0
146,Afghanistan,South Asia,143,1.721,0.628,0.000,0.242,0.000,0.088,0.091,...,33.768006,66.238514,43.4,43.0,24.0,34.0,55.0,2.0,62.0,68.0

In [4]:
df = pd.read_csv('imputed_dataset_with_coords.csv')
df.sample(5)

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude,Longitude
1437,Moldova,Commonwealth of Independent States,71,5.8160,1.385000,1.277000,0.542000,0.695000,0.044000,0.077000,1.795000,2024,ðŸ˜‘,47.287961,28.567094
920,Sierra Leone,Sub-Saharan Africa,139,3.9264,0.240560,0.747985,0.203954,0.382028,0.047941,0.257647,2.046272,2020,ðŸ˜¡,8.640035,-11.840027
438,Congo (Brazzaville),Sub-Saharan Africa,124,4.2910,0.808964,0.832044,0.289957,0.435026,0.079618,0.120852,1.724136,2017,ðŸ˜¡,-0.726433,15.641915
1275,Cyprus,Western Europe,46,6.1300,1.824000,1.224000,0.580000,0.455000,0.050000,0.104000,1.893000,2023,ðŸ¤©,34.917416,32.889903
1474,Pakistan,South Asia,108,4.6570,1.069000,0.600000,0.321000,0.542000,0.074000,0.144000,1.907000,2024,ðŸ˜‘,30.330840,71.247499

In [30]:
pop1522=pd.read_csv("pop2015_2022.csv")
pop1522

,Country,Country Code,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,104257,104874,105439,105962,106442,106585,106537,106445
1,Africa Eastern and Southern,AFE,600008424,616377605,632746570,649757148,667242986,685112979,702977106,720859132
2,Afghanistan,AFG,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
3,Africa Western and Central,AFW,408690375,419778384,431138704,442646825,454306063,466189102,478185907,490330870
4,Angola,AGO,28127721,29154746,30208628,31273533,32353588,33428486,34503774,35588987
...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,1788196,1777557,1791003,1797085,1788878,1790133,1786038,1761985
261,"Yemen, Rep.",YEM,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614
262,South Africa,ZAF,55876504,56422274,56641209,57339635,58087055,58801927,59392255,59893885
263,Zambia,ZMB,16248230,16767761,17298054,17835893,18380477,18927715,19473125,20017675
264,Zimbabwe,ZWE,14154937,14452704,14751101,15052184,15354608,15669666,15993524,16320537

In [43]:
from fuzzywuzzy import process

# Function to find the closest match for a country name
def find_closest_match(country_name, population_data):
    matches = process.extract(country_name, population_data['Country'], limit=1)
    return matches[0][0] if matches and matches[0][1] > 70 else None


# Add population to the bigger table based on the year and country name
for index, row in df.iterrows():
    country_name = row['Country']
    year = row['Year']
    if pd.notnull(year):
        year = int(year)  # Convert to integer
        closest_match = find_closest_match(country_name, pop1522)
        if closest_match:
            population_col = str(year)
            if population_col in pop1522.columns:
                population = pop1522.loc[pop1522['Country'] == closest_match, population_col]
                if not population.empty:
                    df.at[index, 'Population'] = population.values[0]

df

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude,Longitude,Population
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,ðŸ¤©,46.798562,8.231974,8282396.0
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,ðŸ¤©,64.984182,-18.105901,330815.0
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,ðŸ¤©,55.670249,10.333328,5683483.0
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,ðŸ¤©,64.573154,11.528036,5188607.0
4,Canada,North America and ANZ,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,ðŸ¤©,61.066692,-107.991707,35702908.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,Congo (Kinshasa),Sub-Saharan Africa,139,3.295,0.53400,0.66500,0.26200,0.47300,0.07200,0.18900,1.10200,2024,ðŸ˜¡,-2.981434,23.822264,NaN
1506,Sierra Leone,Sub-Saharan Africa,140,3.245,0.65400,0.56600,0.25300,0.46900,0.05300,0.18100,1.06800,2024,ðŸ˜¡,8.640035,-11.840027,50025.0
1507,Lesotho,Sub-Saharan Africa,141,3.186,0.77100,0.85100,0.00000,0.52300,0.08500,0.08200,0.87500,2024,ðŸ˜¡,-29.603927,28.335019,2777979.0
1508,Lebanon,Middle East and North Africa,142,2.707,1.37700,0.57700,0.55600,0.17300,0.02900,0.06800,-0.07300,2024,ðŸ˜¡,40.375713,-76.462612,3990123.0
1509,Afghanistan,South Asia,143,1.721,0.62800,0.00000,0.24200,0.00000,0.08800,0.09100,0.67200,2024,ðŸ˜¡,33.768006,66.238514,341529256.0

In [44]:
pop2322=pd.read_csv("pop2023-2024.csv")
pop2322

              Country          2024        2023
0               India  1.439665e+09  1428627663
1               China  1.425278e+09  1425671352
2       United States  3.415293e+08   339996563
3           Indonesia  2.794450e+08   277534122
4            Pakistan  2.444612e+08   240485658
..                ...           ...         ...
229        Montserrat           NaN        4386
230  Falkland Islands           NaN        3791
231              Niue  1.935000e+03        1935
232           Tokelau           NaN        1893
233      Vatican City           NaN         764

[234 rows x 3 columns]

In [45]:

# Add population to the bigger table based on the year and country name
for index, row in df.iterrows():
    country_name = row['Country']
    year = row['Year']
    if pd.notnull(year):
        year = int(year)  # Convert to integer
        closest_match = find_closest_match(country_name, pop2322)
        if closest_match:
            population_col = str(year)
            if population_col in pop2322.columns:
                population = pop2322.loc[pop1522['Country'] == closest_match, population_col]
                if not population.empty:
                    df.at[index, 'Population'] = population.values[0]

df

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude,Longitude,Population
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,ðŸ¤©,46.798562,8.231974,8282396.0
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,ðŸ¤©,64.984182,-18.105901,330815.0
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,ðŸ¤©,55.670249,10.333328,5683483.0
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,ðŸ¤©,64.573154,11.528036,5188607.0
4,Canada,North America and ANZ,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,ðŸ¤©,61.066692,-107.991707,35702908.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,Congo (Kinshasa),Sub-Saharan Africa,139,3.295,0.53400,0.66500,0.26200,0.47300,0.07200,0.18900,1.10200,2024,ðŸ˜¡,-2.981434,23.822264,NaN
1506,Sierra Leone,Sub-Saharan Africa,140,3.245,0.65400,0.56600,0.25300,0.46900,0.05300,0.18100,1.06800,2024,ðŸ˜¡,8.640035,-11.840027,50025.0
1507,Lesotho,Sub-Saharan Africa,141,3.186,0.77100,0.85100,0.00000,0.52300,0.08500,0.08200,0.87500,2024,ðŸ˜¡,-29.603927,28.335019,2777979.0
1508,Lebanon,Middle East and North Africa,142,2.707,1.37700,0.57700,0.55600,0.17300,0.02900,0.06800,-0.07300,2024,ðŸ˜¡,40.375713,-76.462612,3990123.0
1509,Afghanistan,South Asia,143,1.721,0.62800,0.00000,0.24200,0.00000,0.08800,0.09100,0.67200,2024,ðŸ˜¡,33.768006,66.238514,341529256.0

In [46]:
df.to_csv("merged_data_with_population.csv", index=False)

In [27]:
import pandas as pd

df = pd.read_csv('merged_data_with_population.csv')

In [40]:
import pandas as pd
from fuzzywuzzy import process
from fuzzywuzzy import fuzz

# Read the datasets
continents_df = pd.read_csv("continents.csv")

# Assuming your dataframe is already loaded in a variable called 'df'

def fuzzy_match_continent(row):
    # Get the country name from the current row
    country = row['Country']

    # Define a threshold for a good match (e.g., 80% similarity)
    threshold = 80

    # Extract the best match from 'continents_df' based on country name
    matches = process.extractOne(country, continents_df['Country'], scorer=fuzz.partial_ratio)

    # Check if a match is found and above the threshold
    if matches and matches[1] >= threshold:
        return matches[0]  # Return the matched country name
    else:
        return None  # Return None if no good match found

# Apply fuzzy matching to each row in 'df'
df['Matched_Country'] = df.apply(fuzzy_match_continent, axis=1)

# Merge DataFrames based on the matched country
df_with_continent = df.merge(continents_df[['Country', 'Continent']], how='left', left_on='Matched_Country', right_on='Country')

# Drop the temporary 'Matched_Country' column (optional)
df_with_continent = df_with_continent.drop('Matched_Country', axis=1)


# Display the resulting DataFrame
df = df_with_continent

In [42]:
df.columns

Index(['Country_x', 'Region', 'Happiness Rank', 'Ladder score', 'Economy',
       'Social support', 'Health', 'Freedom', 'Trust', 'Generosity',
       'Dystopia Residual', 'Year', 'Emoji', 'Latitude', 'Longitude',
       'Population', 'Country_y', 'Continent'],
      dtype='object')

In [43]:
from fuzzywuzzy import process

# Read the longlat.csv file into a DataFrame
longlat_df = pd.read_csv("longlat.csv")

# Define a function for fuzzy matching
def fuzzy_match_country(name, choices):
    match = process.extractOne(name, choices)
    return match[0] if match[1] >= 80 else None

# Apply fuzzy matching to each country in df to find its closest match in longlat_df
df['Matched_Country'] = df['Country_x'].apply(lambda x: fuzzy_match_country(x, longlat_df['Country']))

# Merge the latitude and longitude columns from longlat_df to df based on the matched country names
df_merged = df.merge(longlat_df[['Country', 'Latitude', 'Longitude']], left_on='Matched_Country', right_on='Country', how='left')

# Drop the 'Matched_Country' column and the duplicate 'Country' column
df_merged = df_merged.drop(['Matched_Country', 'Country_y'], axis=1)

# Rename the 'Country_x' column to 'Country'
df_merged = df_merged.rename(columns={'Country_x': 'Country'})

# Display the resulting DataFrame
df_merged

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude_x,Longitude_x,Population,Continent,Country,Latitude_y,Longitude_y
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,ðŸ¤©,46.798562,8.231974,8282396.0,Europe,Switzerland,46.818188,8.227512
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,ðŸ¤©,64.984182,-18.105901,330815.0,Europe,Iceland,64.963051,-19.020835
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,ðŸ¤©,55.670249,10.333328,5683483.0,Europe,Denmark,56.263920,9.501785
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,ðŸ¤©,64.573154,11.528036,5188607.0,Europe,Norway,60.472024,8.468946
4,Canada,North America and ANZ,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,ðŸ¤©,61.066692,-107.991707,35702908.0,North America,Canada,56.130366,-106.346771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,Congo (Kinshasa),Sub-Saharan Africa,139,3.295,0.53400,0.66500,0.26200,0.47300,0.07200,0.18900,1.10200,2024,ðŸ˜¡,-2.981434,23.822264,105085250.0,Africa,Congo [DRC],-4.038333,21.758664
1506,Sierra Leone,Sub-Saharan Africa,140,3.245,0.65400,0.56600,0.25300,0.46900,0.05300,0.18100,1.06800,2024,ðŸ˜¡,8.640035,-11.840027,50025.0,Africa,Sierra Leone,8.460555,-11.779889
1507,Lesotho,Sub-Saharan Africa,141,3.186,0.77100,0.85100,0.00000,0.52300,0.08500,0.08200,0.87500,2024,ðŸ˜¡,-29.603927,28.335019,2777979.0,Africa,Lesotho,-29.609988,28.233608
1508,Lebanon,Middle East and North Africa,142,2.707,1.37700,0.57700,0.55600,0.17300,0.02900,0.06800,-0.07300,2024,ðŸ˜¡,40.375713,-76.462612,3990123.0,Asia,Lebanon,33.854721,35.862285
1509,Afghanistan,South Asia,143,1.721,0.62800,0.00000,0.24200,0.00000,0.08800,0.09100,0.67200,2024,ðŸ˜¡,33.768006,66.238514,341529256.0,Asia,Afghanistan,33.939110,67.709953

In [47]:
df_merged.isna().sum()

Country               0
Happiness Rank        0
Ladder score          0
Economy               0
Social support        0
Health                0
Freedom               0
Trust                 0
Generosity            0
Dystopia Residual     0
Year                  0
Emoji                 0
Population            0
Continent            17
Country              16
Latitude_y           16
Longitude_y          16
dtype: int64

In [46]:
df_merged = df_merged.drop(['Latitude_x','Longitude_x','Region'],axis=1)

In [48]:
df_merged.to_csv('df_merged.csv', index=False)

In [23]:
from fuzzywuzzy import process
import pandas as pd

# Sample dataframes
continents_data = pd.read_csv('continents.csv')

# Perform fuzzy matching to get the closest matching country names and add Continent based on the match
def match_country(name, choices):
    match = process.extractOne(name, choices)
    return match[1] if match[1] >= 80 else None

# df['Continent'] = df['Country'].apply(lambda x: match_country(x, continents_data['Country']))
df_with_continent = df.merge(continents_data[['Country', 'Continent']], how='left', on='Country')


df_with_continent.head(5)

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude,Longitude,Population,Continent
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,ðŸ¤©,46.798562,8.231974,8282396.0,Europe
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,ðŸ¤©,64.984182,-18.105901,330815.0,Europe
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,ðŸ¤©,55.670249,10.333328,5683483.0,Europe
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,ðŸ¤©,64.573154,11.528036,5188607.0,Europe
4,Canada,North America and ANZ,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,ðŸ¤©,61.066692,-107.991707,35702908.0,North America

In [41]:
df.isna().sum()

Country_x             0
Region                0
Happiness Rank        0
Ladder score          0
Economy               0
Social support        0
Health                0
Freedom               0
Trust                 0
Generosity            0
Dystopia Residual     0
Year                  0
Emoji                 0
Latitude              0
Longitude             0
Population            0
Country_y            17
Continent            17
dtype: int64